<form>
  <ion-grid [ngClass]="(_enabled)?((_valid)?'formBoxValid':'formBoxInalid'):'formBoxDisabled'">

    <!--Label-->
    <ion-row *ngIf="_label">
      <ion-col>
        <ion-label>
        {{_label}}
        </ion-label>
      </ion-col>
    </ion-row>

    <!--Start Scan QR-->
    <ion-row>
      <ion-item>
        <button ion-button full (click)="onScanClick()">{{_btn_label}}</button>
      </ion-item>
    </ion-row>

    <!--Input Control-->
    <ion-row>
      <ion-col>

        <ion-input placeholder="{{_placeholder}}" [type]="_input_type"
          [ngClass]="(_enabled)?((_valid)?'formTextValid':'formTextInalid'):'formTextDisabled'"
          disabled>
        </ion-input>

      </ion-col>
    </ion-row>
    <!--Required Message-->
    <ion-row *ngIf="(!_valid && _txt_required != undefined)">
      <ion-col>
        <ion-label color="danger" stacked>
        * {{_txt_required}}
        </ion-label>
      </ion-col>
    </ion-row>

  </ion-grid>
</form>

<!--Separator-->
<!--<br>
<ion-item-divider></ion-item-divider>-->
<br>
