
  <ion-grid class="formBoxValid">

    <!--Input Control-->
    <ion-row>
      <ion-col>

        <ion-item>
          <ion-label>{{_label}}</ion-label>
          <ion-checkbox [(ngModel)]="_value" [disabled]="!_enabled" (click)="onChange(i)"></ion-checkbox>
        </ion-item>

      </ion-col>
    </ion-row>
    <!--Required Message-->
    <!--<ion-row *ngIf="(!_form.controls['data'].valid && _txt_required != undefined)">
      <ion-col>
        <ion-label color="danger" stacked>
        * {{_txt_required}}
        </ion-label>
      </ion-col>
    </ion-row>-->

  </ion-grid>

<!--Separator-->
<!--<br>
<ion-item-divider></ion-item-divider>-->
<br>
